.produto .popSeller {
    background-color: #fff;
    display: block;
    position: fixed;
    z-index: 9999;
    max-width: 80%;
    height: inherit;
    width: 100%;
    margin-left: -40%;
    left: 50%!important;
    max-height: 80%!important;
    top: 100px!important
}
.produto .popSellerMascara {
    background-color: rgba(0, 0, 0, .57);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    cursor: pointer
}
.produto .popSellerFechar {
    position: absolute;
    top: 0;
    right: 0;
    color: #FF372E;
    font-style: italic;
    cursor: pointer;
    padding: 20px;
    z-index: 99
}
.produto .popSeller .page-center {
    font-size: 17px;
    font-weight: 100;
    line-height: 24px;
    overflow-y: auto;
    padding-bottom: 50px;
    width: 100%;
    height: 100%
}
.produto .popSeller .page-center::-webkit-scrollbar-track {
    background-color: #ccc;
    opacity: .6;
    margin-left: 15px
}
.produto .popSeller .page-center::-webkit-scrollbar {
    width: 3px;
    background: #000;
    margin-left: 30px;
    margin-right: -1px
}
.produto .popSeller .page-center::-webkit-scrollbar-thumb {
    background: #9f9f9f
}
h2.tituloVendedor {
    line-height: 20px;
    height: 60px;
    padding: 20px;
    -moz-box-shadow: 0 3px 15px 0 rgba(50, 50, 50, .2);
    -webkit-box-shadow: 0 3px 15px 0 rgba(50, 50, 50, .2);
    box-shadow: 0 3px 15px 0 rgba(50, 50, 50, .2);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 900;
    color: #505050;
    display: inline-block;
    float: left
}
.popSeller h2 img {
    margin-left: 69px;
    margin-top: 13px
}
.popSeller p {
    padding: 0 70px;
    display: block;
    clear: both;
    white-space: pre-line
}
.popSeller .title-section {
    padding: 10px 0 10px 70px;
    font-weight: 800
}
.popMambo p {
    padding: 10px 70px
}
h2.tituloVendedor {
    position: fixed;
    max-width: 80%;
    background-color: #fff;
    z-index: 9;
    width: 100%;
    margin-top: -60px
}
.popSeller section.seller-description {
    padding-top: 60px
}
.popMambo section.seller-description {
    padding-top: 0
}
.popMambo h2.tituloVendedor {
    margin-top: 0
}
.popMambo p:first-child {
    padding-top: 91px
}