.product-variation {
    list-style: none;
    overflow: hidden;
    margin: 0px;
    min-height: 72px;
    padding-top: 26px;
}
.product-variation li {
    float: left;
    border: 1px solid #d2d2d2;
    margin: 0 2px 5px;
    width: 49px;
    height: auto;
}
.product-variation li img {
    width: 100%;
}
.product-variation li .wrap-info {
    display: none;
}
ul.product-variation {
    display: table;
    width: auto;
    margin: 0 auto;
}

.variations {
    display: block !important;
}